#form-connection .tooltip svg {
	width: 1.25rem;
}

#form-connection .double-input {
    margin-top: 0.5rem;
}

#form-connection .double-input label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#form-connection .double-input label span {
    font-weight: 300;
}